
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://static.helpjuice.com/helpjuice_production/uploads/upload/image/4752/direct/1585157958423-Customer%20Support.png" class="d-block w-100" height="400px" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/photos/closeup-image-of-male-hands-using-smartphone-with-icon-telephone-picture-id1168945108?k=6&m=1168945108&s=612x612&w=0&h=L9cO1Sztbr0EkD8kfVcuD01lf_s0lFETTPqZHyjDDO4=" 
      class="d-block w-100 " height="400px" alt="...">

    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="row my-5 mx-3 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
  <div class="col p-3 ">
<div class="card" style="width: 300px;">
  <div class="card-body">
    <h5 class="card-title text-center"><img src="https://as2.ftcdn.net/jpg/02/23/21/45/500_F_223214507_mocKVnVwSHgiwJSx6lGqh0rr1penAqJm.jpg"
      width=100% height=200px></h5>
    <p class="card-text"><strong>Talk to sales</strong></p>
    <a href="#" class="btn btn-primary d-block mx-auto">+91 989897688</a>
  </div>
</div>
</div>

 <div class="col p-3 ">
<div class="card" style="width: 300px;">
  <div class="card-body">
    <h5 class="card-title"><img src="https://thumbs.dreamstime.com/b/icon-support-customer-service-call-center-vector-icons-help-phone-contact-business-line-symbol-communication-telephone-technology-140920509.jpg"
      width=100% height="200px"></h5>
    <p class="card-text"><strong>Contact Customer Support</strong></p>
    <a href="#" class="btn btn-primary d-block mx-auto">CONTACT SUPPORT</a>
  </div>
</div>
</div>

<div class="col p-3">
  <div class="card" style="width: 300px;">
    <div class="card-body">
      <h5 class="card-title"><img src="https://thumbs.dreamstime.com/b/email-icon-isolated-white-background-email-icon-trendy-design-style-email-icon-isolated-white-background-email-icon-183701610.jpg"
          width=100% height="200px"></h5>
      <p class="card-text"><strong>Email us @</strong></p>
      <a href="#" class="btn btn-primary d-block mx-auto">www.top/10.com</a>
    </div>
  </div>
</div>



</div>