
<!-- <div class="card h-100 bg-dark    ">
    <div class="card-item ">
    <img class="img-thumbnail p-3  mb-3" src="{{Detaileddata.image}}" width="300px" height="300px" >
    <div class="card-body">
        <p id="c1" >TITLE :  {{Detaileddata.title}}   </p>
        <p id="c1" >FULL TITLE :  {{Detaileddata.fullTitle}}   </p>
        <p id="c2" >RANK :  {{Detaileddata.rank}} </p>
        <p id="c1" >FULL TITLE :   {{Detaileddata.fullTitle}}  </p>
        <p id="c2" > CREW : {{Detaileddata.crew}}  </p>
        <p id="c2" > RATING :  {{Detaileddata.Rating}}  </p>
        <p id="c2" > RATING COUNT : {{Detaileddata.RatingCount}}  </p>
        <p id="c2" > YEAR : {{Detaileddata.year}}  </p>


        
        <p id="c2" > VIEWS :{{Detaileddata.views}}  </p>
        <p id="c2" >  GENRE :{{Detaileddata.genre}}  </p>

      <button class="btn  d-block mx-auto btn-success">Add to cart</button> -->

    
      <div class="container mt-5 bgc p-5">
        <div class="d-flex justify-content-around">
            <h1 class="text-start ms-5 text-primary fst-italic fontt"> {{Detaileddata.rank}}. {{Detaileddata.title}}</h1>
            <img src={{Detaileddata.image}} alt="" width="300px" height="300px">
        </div>
        <hr>


        <h3 class="font_heading mt-5 text-white">Details</h3>
        <table class="mt-5 table table-dark table-striped">

          <tbody class="table_font">
            <tr>

              <td>FULL TITLE</td>
              <td>{{Detaileddata.fullTitle}}</td>

            </tr>
            <tr>

              <td>YEAR</td>
              <td>{{Detaileddata.crew}}</td>

            </tr>
            <tr>

              <td>GENRE</td>
              <td>{{Detaileddata.genre}} </td>

            </tr>
            <tr>

              <td>YEAR</td>
              <td>{{Detaileddata.year}}</td>

            </tr>
            <tr>

              <td>RATING</td>
              <td>{{Detaileddata.Rating}} <i class="fas fa-star"></i> </td>

            </tr>
            <tr>

              <td>Rating Count</td>
              <td>{{Detaileddata.RatingCount}} </td>

            </tr>
            <tr>

              <td>VIEWS</td>
              <td>{{Detaileddata.views}} </td>

            </tr>

          </tbody>
        </table>

        <div class="d-flex justify-content-center">
          <button class="btn  d-block mx-auto btn-success" (click)="addtocart()">Add to cart</button>
        </div>