

<h3 id="r" class="text-center mt-3 "> REGISTER</h3>

<div class="row pp">
  <div class="col-4">
    <img class="plo" src="http://images2.fanpop.com/image/photos/10000000/TV-Icon-Collage-television-10072208-1300-1300.jpg">
  </div>
 <div class="col-2"></div>
<form class="col-8" >
  
    <div class="col-md-5 m-5 ">
        <label for="fn" class="form-label">First Name</label>
        <input type="text" class="form-control" name="firstname" id="fn">
      </div>
      <div class="col-md-5 m-5">
        <label for="un" class="form-label ">User Name</label>
        <input type="text" class="form-control" name="username" id="un">
      </div>
    <div class="col-md-5 m-5">
      <label for="em" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="em">
    </div>
    <div class="col-md-5 m-5">
      <label for="ps" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="ps">
    </div>
    
    <div class="col-md-2 m-5">
      <label for="pin" class="form-label">Pincode</label>
      <input type="text" class="form-control" name="pin" id="pin">
    </div>

    <div  class= "col-6 m-5">
      <button type="submit" class="btn bg-secondary d-block mx-auto" (click)="registered()">Register</button>
    </div>

  </form>
  <div class="col-2"></div>
</div> 